<template>
  <body class="d-flex flex-column min-vh-100">
    <NavBar />
    <RouterView />
    <FooterNav />
  </body>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import NavBar from './components/NavBar.vue'
import FooterNav from './components/FooterNav.vue'
</script>
