<template>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        {{ item.description }}
      </p>

      <div>
        <del class="card-text">{{ '$' + item.discountedPrice }}</del>
        <h5 class="card-title">{{ '$' + item.price }}</h5>
      </div>

      <a href="#" class="btn btn-danger" @click="$emit('deleteFromCart', item.id)"
        >Delete from cart</a
      >
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Item } from '../../../server/models'

const { item } = defineProps<{
  item: Item
}>()
</script>
