<template>
  <footer class="bg-body-tertiary text-center text-lg-start mt-auto">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2020 Copyright: ThriftyThrive, Inc
    </div>
  </footer>
</template>
