<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-lg">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- left -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: unset">
        <a class="navbar-brand">
          <RouterLink class="nav-link" to="/">ThriftyThrive</RouterLink>
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <RouterLink class="nav-link" to="/">Home</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link" to="/items">Browse</RouterLink>
          </li>
        </ul>
      </div>

      <!-- right -->
      <div v-if="user.loggedIn" class="d-flex column-gap-3">
        <RouterLink class="nav-link" to="/cart">
          <i class="bi bi-cart3" style="font-size: x-large" />
        </RouterLink>
        <RouterLink class="nav-link" to="/orders">
          <i class="bi bi-person" style="font-size: x-large" />
        </RouterLink>
        <button class="btn btn-outline-danger" @click="handleLogout">logout</button>
      </div>
      <button v-else class="btn btn-outline-success" @click="handleLogin">login</button>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { useUserStore } from '@/stores/user'

const user = useUserStore()

function handleLogin() {
  user.login()
}

function handleLogout() {
  user.logout()
}
</script>
