<template>
  <div class="card">
    <div class="card-header">Order for {{ order.name }}</div>
    <div class="card-body">
      <h5 class="card-title">Items Ordered</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" v-for="item in order.items" :key="item.id">
          {{ item.name }}
        </li>
      </ul>
      <p class="card-text"><strong>Email:</strong> {{ order.email }}</p>
      <p class="card-text"><strong>Address:</strong> {{ order.address }}</p>
      <p class="card-text">
        <strong>Credit Card:</strong> **** **** **** {{ lastFourDigits(order.creditCard) }}
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Order } from '../../../server/models'

const { order } = defineProps<{
  order: Order
}>()

function lastFourDigits(ccNumber: string) {
  return ccNumber.slice(-4)
}
</script>
