<template>
  <div class="container py-3">
    <h1 class="text-center">Cart</h1>
    <div class="row justify-content-center">
      <CartItemCard
        v-for="item in items"
        :key="item._id"
        :item="item"
        @delete-from-cart="handleDeleteFromCart"
        class="col-md-4 m-2"
      />
    </div>
    <div class="text-center">
      <RouterLink class="nav-link" to="/checkout">
        <button type="button" class="btn btn-lg btn-success mt-5">Checkout</button>
      </RouterLink>
    </div>
  </div>
</template>
<script setup lang="ts">
import { onMounted, ref, type Ref } from 'vue'
import CartItemCard from '../components/CartItemCard.vue'
import type { Item } from '../../../server/models'
import { useToast } from 'vue-toastification'

const items: Ref<Item[]> = ref([])

const toast = useToast()

onMounted(() => {})

const handleDeleteFromCart = (id: string) => {
  console.log('Add to cart', id)
  toast.error('Item deleted from cart')
}
</script>
