<template>
  <div class="container py-3">
    <h1 class="text-center">Checkout</h1>
    <div class="row justify-content-center">
      <CheckoutItemCard
        v-for="item in items"
        :key="item._id"
        :item="item"
        class="col-md-4 col-12 m-2"
      />
    </div>
    <p class="display-5 text-lg-end mt-5">Total: $10</p>
    <form class="col-8">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" v-model="order.name" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" v-model="order.email" required />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" v-model="order.address" required />
      </div>
      <div class="mb-3">
        <label for="creditcard" class="form-label">Credit Card</label>
        <input
          type="text"
          class="form-control"
          id="credit_card"
          v-model="order.creditCard"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>
<script setup lang="ts">
import { onMounted, ref, type Ref } from 'vue'
import CheckoutItemCard from '@/components/CheckoutItemCard.vue'
import type { Order, Item } from '../../../server/models'

const items: Ref<Item[]> = ref([])

const order: Ref<Order> = ref({
  _id: '',
  items: [],
  name: '',
  email: '',
  address: '',
  creditCard: ''
})

onMounted(() => {})
</script>
