<template>
  <div class="container py-3">
    <h1 class="text-center fw-bold">ThriftyThrive</h1>
    <p class="text-center">Welcome to ThriftyThrive!</p>
    <h2 class="mt-3">Selected Deals</h2>
    <div class="row justify-content-center mt-3">
      <ItemCard
        v-for="item in items"
        :item="item"
        :key="item._id"
        @add-to-cart="handleAddToCart"
        class="col-md-4 m-2"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, type Ref } from 'vue'
import { useToast } from 'vue-toastification'
import type { Item } from '../../../server/models'
import { getItems } from '@/services/api'

const items: Ref<Item[]> = ref([])

const toast = useToast()

onMounted(async () => {
  items.value = await getItems()
})

const handleAddToCart = (id: string) => {
  console.log('Add to cart', id)
  toast.success('Item added to cart')
}
</script>
