<template>
  <div class="py-3 container">
    <h1 class="text-center">Orders</h1>
    <OrderCard v-for="order in orders" :key="order._id" :order="order" class="my-3" />
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, type Ref } from 'vue'
import OrderCard from '@/components/OrderCard.vue'
import type { Order } from '../../../server/models'
import { getOrders } from '@/services/api'

const orders: Ref<Order[]> = ref([])
onMounted(async () => {
  orders.value = await getOrders()
})
</script>
